.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero .landing-caption {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.hero .navbar {
  background:0 0
}

.hero .tabs ul {
  border-bottom:none
}


.hero.is-link {
  background-color:#3273dc;
  color:#fff
}
.hero.is-link a:not(.button):not(.dropdown-item):not(.tag),
.hero.is-link strong {
  color:inherit
}
.hero.is-link .title {
  color:#fff
}
.hero.is-link .subtitle {
  color:rgba(255,255,255,.9)
}
.hero.is-link .subtitle a:not(.button),
.hero.is-link .subtitle strong {
  color:#fff
}
@media screen and (max-width:1087px) {
  .hero.is-link .navbar-menu {
    background-color:#3273dc
  }
}
.hero.is-link .navbar-item,
.hero.is-link .navbar-link {
  color:rgba(255,255,255,.7)
}
.hero.is-link a.navbar-item:hover,
.hero.is-link a.navbar-item.is-active,
.hero.is-link .navbar-link:hover,
.hero.is-link .navbar-link.is-active {
  background-color:#2366d1;
  color:#fff
}
.hero.is-link .tabs a {
  color:#fff;
  opacity:.9
}
.hero.is-link .tabs a:hover {
  opacity:1
}
.hero.is-link .tabs li.is-active a {
  opacity:1
}
.hero.is-link .tabs.is-boxed a,
.hero.is-link .tabs.is-toggle a {
  color:#fff
}
.hero.is-link .tabs.is-boxed a:hover,
.hero.is-link .tabs.is-toggle a:hover {
  background-color:rgba(10,10,10,.1)
}
.hero.is-link .tabs.is-boxed li.is-active a,
.hero.is-link .tabs.is-boxed li.is-active a:hover,
.hero.is-link .tabs.is-toggle li.is-active a,
.hero.is-link .tabs.is-toggle li.is-active a:hover {
  background-color:#fff;
  border-color:#fff;
  color:#3273dc
}
.hero.is-link.is-bold {
  background-image:linear-gradient(141deg,#1577c6 0%,#3273dc 71%,#4366e5 100%)
}
@media screen and (max-width:768px) {
  .hero.is-link.is-bold .navbar-menu {
    background-image:linear-gradient(141deg,#1577c6 0%,#3273dc 71%,#4366e5 100%)
  }
}
.hero.is-info {
  background-color:#209cee;
  color:#fff
}
.hero.is-info a:not(.button):not(.dropdown-item):not(.tag),
.hero.is-info strong {
  color:inherit
}
.hero.is-info .title {
  color:#fff
}
.hero.is-info .subtitle {
  color:rgba(255,255,255,.9)
}
.hero.is-info .subtitle a:not(.button),
.hero.is-info .subtitle strong {
  color:#fff
}
@media screen and (max-width:1087px) {
  .hero.is-info .navbar-menu {
    background-color:#209cee
  }
}
.hero.is-info .navbar-item,
.hero.is-info .navbar-link {
  color:rgba(255,255,255,.7)
}
.hero.is-info a.navbar-item:hover,
.hero.is-info a.navbar-item.is-active,
.hero.is-info .navbar-link:hover,
.hero.is-info .navbar-link.is-active {
  background-color:#118fe4;
  color:#fff
}
.hero.is-info .tabs a {
  color:#fff;
  opacity:.9
}
.hero.is-info .tabs a:hover {
  opacity:1
}
.hero.is-info .tabs li.is-active a {
  opacity:1
}
.hero.is-info .tabs.is-boxed a,
.hero.is-info .tabs.is-toggle a {
  color:#fff
}
.hero.is-info .tabs.is-boxed a:hover,
.hero.is-info .tabs.is-toggle a:hover {
  background-color:rgba(10,10,10,.1)
}
.hero.is-info .tabs.is-boxed li.is-active a,
.hero.is-info .tabs.is-boxed li.is-active a:hover,
.hero.is-info .tabs.is-toggle li.is-active a,
.hero.is-info .tabs.is-toggle li.is-active a:hover {
  background-color:#fff;
  border-color:#fff;
  color:#209cee
}
.hero.is-info.is-bold {
  background-image:linear-gradient(141deg,#04a6d7 0%,#209cee 71%,#3287f5 100%)
}
@media screen and (max-width:768px) {
  .hero.is-info.is-bold .navbar-menu {
    background-image:linear-gradient(141deg,#04a6d7 0%,#209cee 71%,#3287f5 100%)
  }
}
.hero.is-success {
  background-color:#23d160;
  color:#fff
}
.hero.is-success a:not(.button):not(.dropdown-item):not(.tag),
.hero.is-success strong {
  color:inherit
}
.hero.is-success .title {
  color:#fff
}
.hero.is-success .subtitle {
  color:rgba(255,255,255,.9)
}
.hero.is-success .subtitle a:not(.button),
.hero.is-success .subtitle strong {
  color:#fff
}
@media screen and (max-width:1087px) {
  .hero.is-success .navbar-menu {
    background-color:#23d160
  }
}
.hero.is-success .navbar-item,
.hero.is-success .navbar-link {
  color:rgba(255,255,255,.7)
}
.hero.is-success a.navbar-item:hover,
.hero.is-success a.navbar-item.is-active,
.hero.is-success .navbar-link:hover,
.hero.is-success .navbar-link.is-active {
  background-color:#20bc56;
  color:#fff
}
.hero.is-success .tabs a {
  color:#fff;
  opacity:.9
}
.hero.is-success .tabs a:hover {
  opacity:1
}
.hero.is-success .tabs li.is-active a {
  opacity:1
}
.hero.is-success .tabs.is-boxed a,
.hero.is-success .tabs.is-toggle a {
  color:#fff
}
.hero.is-success .tabs.is-boxed a:hover,
.hero.is-success .tabs.is-toggle a:hover {
  background-color:rgba(10,10,10,.1)
}
.hero.is-success .tabs.is-boxed li.is-active a,
.hero.is-success .tabs.is-boxed li.is-active a:hover,
.hero.is-success .tabs.is-toggle li.is-active a,
.hero.is-success .tabs.is-toggle li.is-active a:hover {
  background-color:#fff;
  border-color:#fff;
  color:#23d160
}
.hero.is-success.is-bold {
  background-image:linear-gradient(141deg,#12af2f 0%,#23d160 71%,#2ce28a 100%)
}
@media screen and (max-width:768px) {
  .hero.is-success.is-bold .navbar-menu {
    background-image:linear-gradient(141deg,#12af2f 0%,#23d160 71%,#2ce28a 100%)
  }
}
.hero.is-warning {
  background-color:#ffdd57;
  color:rgba(0,0,0,.7)
}
.hero.is-warning a:not(.button):not(.dropdown-item):not(.tag),
.hero.is-warning strong {
  color:inherit
}
.hero.is-warning .title {
  color:rgba(0,0,0,.7)
}
.hero.is-warning .subtitle {
  color:rgba(0,0,0,.9)
}
.hero.is-warning .subtitle a:not(.button),
.hero.is-warning .subtitle strong {
  color:rgba(0,0,0,.7)
}
@media screen and (max-width:1087px) {
  .hero.is-warning .navbar-menu {
    background-color:#ffdd57
  }
}
.hero.is-warning .navbar-item,
.hero.is-warning .navbar-link {
  color:rgba(0,0,0,.7)
}
.hero.is-warning a.navbar-item:hover,
.hero.is-warning a.navbar-item.is-active,
.hero.is-warning .navbar-link:hover,
.hero.is-warning .navbar-link.is-active {
  background-color:#ffd83d;
  color:rgba(0,0,0,.7)
}
.hero.is-warning .tabs a {
  color:rgba(0,0,0,.7);
  opacity:.9
}
.hero.is-warning .tabs a:hover {
  opacity:1
}
.hero.is-warning .tabs li.is-active a {
  opacity:1
}
.hero.is-warning .tabs.is-boxed a,
.hero.is-warning .tabs.is-toggle a {
  color:rgba(0,0,0,.7)
}
.hero.is-warning .tabs.is-boxed a:hover,
.hero.is-warning .tabs.is-toggle a:hover {
  background-color:rgba(10,10,10,.1)
}
.hero.is-warning .tabs.is-boxed li.is-active a,
.hero.is-warning .tabs.is-boxed li.is-active a:hover,
.hero.is-warning .tabs.is-toggle li.is-active a,
.hero.is-warning .tabs.is-toggle li.is-active a:hover {
  background-color:rgba(0,0,0,.7);
  border-color:rgba(0,0,0,.7);
  color:#ffdd57
}
.hero.is-warning.is-bold {
  background-image:linear-gradient(141deg,#ffaf24 0%,#ffdd57 71%,#fffa70 100%)
}
@media screen and (max-width:768px) {
  .hero.is-warning.is-bold .navbar-menu {
    background-image:linear-gradient(141deg,#ffaf24 0%,#ffdd57 71%,#fffa70 100%)
  }
}
.hero.is-danger {
  background-color:#ff3860;
  color:#fff
}
.hero.is-danger a:not(.button):not(.dropdown-item):not(.tag),
.hero.is-danger strong {
  color:inherit
}
.hero.is-danger .title {
  color:#fff
}
.hero.is-danger .subtitle {
  color:rgba(255,255,255,.9)
}
.hero.is-danger .subtitle a:not(.button),
.hero.is-danger .subtitle strong {
  color:#fff
}
@media screen and (max-width:1087px) {
  .hero.is-danger .navbar-menu {
    background-color:#ff3860
  }
}
.hero.is-danger .navbar-item,
.hero.is-danger .navbar-link {
  color:rgba(255,255,255,.7)
}
.hero.is-danger a.navbar-item:hover,
.hero.is-danger a.navbar-item.is-active,
.hero.is-danger .navbar-link:hover,
.hero.is-danger .navbar-link.is-active {
  background-color:#ff1f4b;
  color:#fff
}
.hero.is-danger .tabs a {
  color:#fff;
  opacity:.9
}
.hero.is-danger .tabs a:hover {
  opacity:1
}
.hero.is-danger .tabs li.is-active a {
  opacity:1
}
.hero.is-danger .tabs.is-boxed a,
.hero.is-danger .tabs.is-toggle a {
  color:#fff
}
.hero.is-danger .tabs.is-boxed a:hover,
.hero.is-danger .tabs.is-toggle a:hover {
  background-color:rgba(10,10,10,.1)
}
.hero.is-danger .tabs.is-boxed li.is-active a,
.hero.is-danger .tabs.is-boxed li.is-active a:hover,
.hero.is-danger .tabs.is-toggle li.is-active a,
.hero.is-danger .tabs.is-toggle li.is-active a:hover {
  background-color:#fff;
  border-color:#fff;
  color:#ff3860
}
.hero.is-danger.is-bold {
  background-image:linear-gradient(141deg,#ff0561 0%,#ff3860 71%,#ff5257 100%)
}
@media screen and (max-width:768px) {
  .hero.is-danger.is-bold .navbar-menu {
    background-image:linear-gradient(141deg,#ff0561 0%,#ff3860 71%,#ff5257 100%)
  }
}
.hero.is-small .hero-body {
  padding-bottom:1.5rem;
  padding-top:1.5rem
}
@media screen and (min-width:769px),print {
  .hero.is-medium .hero-body {
    padding-bottom:9rem;
    padding-top:9rem
  }
}
@media screen and (min-width:769px),print {
  .hero.is-large .hero-body {
    padding-bottom:18rem;
    padding-top:18rem
  }
}
.hero.is-halfheight .hero-body,
.hero.is-fullheight .hero-body {
  align-items:center;
  display:flex
}
.hero.is-halfheight .hero-body>.container,
.hero.is-fullheight .hero-body>.container {
  flex-grow:1;
  flex-shrink:1
}
.hero.is-halfheight {
  min-height:50vh
}
.hero.is-fullheight {
  min-height:100vh
}
.hero-video {
  overflow:hidden
}
.hero-video video {
  left:50%;
  min-height:100%;
  min-width:100%;
  position:absolute;
  top:50%;
  transform:translate3d(-50%,-50%,0)
}
.hero-video.is-transparent {
  opacity:.3
}
@media screen and (max-width:768px) {
  .hero-video {
    display:none
  }
}
.hero-buttons {
  margin-top:1.5rem
}
@media screen and (max-width:768px) {
  .hero-buttons .button {
    display:flex
  }
  .hero-buttons .button:not(:last-child) {
    margin-bottom:.75rem
  }
}
@media screen and (min-width:769px),print {
  .hero-buttons {
    display:flex;
    justify-content:center
  }
  .hero-buttons .button:not(:last-child) {
    margin-right:1.5rem
  }
}
.hero-head,
.hero-foot {
  flex-grow:0;
  flex-shrink:0
}
.hero-body {
  flex-grow:1;
  flex-shrink:0;
  padding:3rem 1.5rem
}
